name: CI/CD Chilling Stories App

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/chilling-stories:latest 

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Install Cloudflared
        run: |
          curl -L --output cloudflared.deb https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared.deb

      - name: Deploy via Native SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          
          cat <<EOF > ~/.ssh/config
          Host server_i5
              HostName ${{ secrets.SSH_HOST }}
              User ${{ secrets.SSH_USERNAME }}
              IdentityFile ~/.ssh/id_ed25519
              ProxyCommand cloudflared access ssh --hostname %h --service-token-id ${{ secrets.CF_CLIENT_ID }} --service-token-secret ${{ secrets.CF_CLIENT_SECRET }}
              StrictHostKeyChecking no
          EOF

          ssh server_i5 << 'EOF'
            cd ~/ChillingStories_Server || git clone https://github.com/PhongDayNai/ChillingStories_Server.git ~/ChillingStories_Server
            cd ~/ChillingStories_Server
            
            git pull origin main
            
            export DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            
            docker-compose up -d --build
            
            docker image prune -f
          EOF